<html lang ="en" xmlns:th="http://www.thymeleaf.org" 
  th:replace="normal/base::Layout(~{::section})">
<head>
     <meta charset="UTF-8" />
     <title>this is home page</title>
</head>
<body>
   <section>
        <div class="card">
          <div class ="card-body">
            <h1 class ="text-center">Add contact</h1>
            <div class="container-fluid mt-1">
               <div class ="row">
                 <div class="col-md-10 offset-md-1">
                   <form action="#"
                         th:object="${contact}"
                         enctype="multipart/form-data"
                         method="POST"
                         th:action="@{/user/process-contact}"
                         class="mt-2"
                         
                         >
                         <!-- first name field -->
                         
                         <div class="input-group">
                           <div class="input-group-prepend">
                             <div class="input-group-text mr-3">
                               
                               <i class="fa fa-plus"></i>
                               
                             </div>
                             
                           </div>
                             
                             <input required 
                            name="name"
                            type="text" 
                            class="form-control" 
                           
                            id="firstName" 
                           
                            placeholder="Enter name here" 
                            
                            
                            />
                         </div>
                         
                          <!-- second name field -->
                           
                           <div class="input-group mt-3">
                           <div class="input-group-prepend">
                             <div class="input-group-text mr-3">
                               
                               <i class="fas fa-user-alt"></i>
                               
                             </div>
                             
                           </div>
                             
                             <input 
                            name="secondName"
                            type="text" 
                            class="form-control" 
                           
                            id="secondName" 
                           
                            placeholder="Enter NickName here" 
                            
                            
                            />
                         </div>
                                  
                            <!-- this is phone field -->
                              <div class="input-group mt-3">
                           <div class="input-group-prepend">
                             <div class="input-group-text mr-3">
                               
                               <i class="fa fa-phone"></i>
                               
                             </div>
                             
                           </div>
                             
                             <input required min="10"
                            name="phone"
                            type="number" 
                            class="form-control" 
                           
                            id="phone" 
                           
                            placeholder="Enter phone number here" 
                            
                            
                            />
                         </div>
                               
                               <!-- email field -->
                                <div class="input-group mt-3">
                           <div class="input-group-prepend">
                             <div class="input-group-text mr-3">
                               
                              @
                               
                             </div>
                             
                           </div>
                             
                             <input 
                            name="email"
                            type="email" 
                            class="form-control" 
                           
                            id="email" 
                           
                            placeholder="Enter email here" 
                            
                            
                            />
                         </div>
                                 
                              <!-- work field --> 
                              <div class="input-group mt-3">
                           <div class="input-group-prepend">
                             <div class="input-group-text mr-3">
                               
                               <i class="fa fa-briefcase"></i>
                               
                             </div>
                             
                           </div>
                             
                             <input 
                            name="work"
                            type="text" 
                            class="form-control" 
                           
                            id="work" 
                           
                            placeholder="Enter work here" 
                            
                            
                            />
                         </div>  
                                
                                <!-- contact description -->  
                                  <div class="form-group mt-3">
                                    <textarea id="description" name="description" class ="form-control" 
                                  placeholder="enter description here" rows="6" cols=""></textarea>
                                  </div>
                                  
                                  <!-- contact image field -->
                                  <div class="custom-file">
                                     <input type="file" name="profileImage"/>
                                  </div>
                                    
                                    <!-- button -->
                                     <div class="container text-center">
                                       <button class="btn btn-outline-primary">Save Contact</button>
                                     </div>
                   </form>
                   
                 </div>
               
               </div>
              
            </div>
          </div>
        </div>
       
   </section>
</body>

</html>